{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="float:right ;">
    <img src="{% static 'image/image1.jpg' %}"width="30" height="50" alt="">
    </div>

    <h1 align="left">MAHESHWARI C G</h1>
    <p>CHOONDAPURAKKAL HOUSE PORKALANGAD P O THRISSUR KERALA 680517</p>
    <p>mahigirishkumar@gmail.com</p>
    <p>CONTACT NO:-8301963092</p>
    <p>06-09-2000</p>

     
    <h1>OBJECTIVE</h1>
    <hr>
    <P>Seeking a challenging position in a reputed organization where i can learn new skills,expand my knowledge and leverage my learnings</P>

    <h1>EDUCATION</h1>
    <ul>
        <li>EXCEL ENGINEERING COLLEGE,ANNA UNIVERSITY</li>
        <p>BE COMPUTER SCIENCE-7.79CGPA</p>
        <li>VRAMHSS THAIKKAD THRISSUR</li>
        <p>HIGHER SECONDARY SCHOOL-70%</p>
        <li>MIC AL AMEEN HSS KECHERY</li>
        <p>SSLC-70%</p>
    </ul>
    <h1>EXPERIENCE</h1>
    <hr>
    <ul>
        <li>Fresher</li>
    </ul>
    <h1>SKILLS</h1>
    <ul>
        <li>Communication skill</li>
        <li>Leadership</li>
        <li>Problem solving</li>
        <li>Time management</li>
        <li>Computer skill</li>
        <li>Teamwork</li>
    </ul>
    <h1>PROJECTS</h1>
    <hr>
    <ul>
        <li>Network based on road breakdown assistant finder</li>
        <li>Tracking mobile location using GSM</li>
    </ul>
    <h1>LANGUAGE</h1>
    <ul>
        <li>English</li>
        <li>Malayalam</li>
        <li>Tamil</li>
    </ul>    
    <h1>HOBBIES</h1>
    <hr>
    <ul>
        <li>Reading bokks,Dancing</li>
    </ul>
    <h1>DECLARATION</h1>
    <hr>
    <ul>
        <li>I hereby declare that the details and information given above are complete and true to the best of my knowledge</li>
    </ul>
</body>
</html>